@import url("https: //fonts.googleapis.com/css2?family=Chivo&family=Lato&family=Roboto&display=swap");

:root {
    --font-family-chivo: 'Chivo', sans-serif;
    --font-family-lato: 'Lato', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;

    --gradient-card: linear-gradient(126.21deg, #EA6623 0%, rgba(234, 102, 35, 0.6) 14.24%, #EE9A37 49.56%, rgba(234, 102, 35, 0.6) 93.2%);


    --color-bg: #000000;

}